.nameParent{
    width: 400vw;
    height:100vh;
    position: relative;
    /* background-image: url('../assets/city.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Poppins', sans-serif;
    font-family: 'Press Start 2P', cursive; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.itachi{
    background-image: url('../assets/itachi.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height:50vh;
    width:20vw;
    /* border:2px solid black; */
    z-index: 100;
    position: absolute;
    left:20px;
}

.greetingMessage{
    position: absolute;
    /* border:2px solid red; */
    z-index: 100;
    left:220px;
    top:250px;
    padding:10px;
    line-height: 26px;
    /* color:whitesmoke; */
}